.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.top-ad {
    background: rgb(155, 0, 0);
}

.top-bar {
    background: #1d71ab;
}
.top-bar-container {
    display: flex;  
    text-decoration: none;
    justify-content: flex-start;  
}
.top-bar a{ 
    display: inline-block;
    color: white; 
    margin: 5px;  
} 
.top-bar a.right {
    justify-self: flex-end;
}

.mid-bar {
    background: #189eff;
}
.mid-bar-container {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}
.mid-bar .textLarge{
    font-size: 150%;
    font-weight: bold;
}
.mid-bar .textNor{
    font-size: 90%;
}
.mid-bar .border { 
    margin: 5px;
    border-radius: 5px;
    border: 2px solid white;
}
.mid-bar input {

    width: 30%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.mid-bar button {
    padding: 10px;
}
.mid-bar a {
    color: white; 
    margin: 5px;
    padding: 10px;  
}
.mid-bar a img {
    width: 50%;
}

.body {
    margin: 10px;
    flex-direction: row;
}
.menu {
    border: 1px solid #e1e1e1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid white;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-start;
    flex-direction: column;
    text-decoration: none;
}

.menu li {
    text-decoration: none;
    padding: 7px;
}

.body-child{
    flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
}
.left {
    flex-grow: 3;
}
.right {
    flex-grow: 2;
}

.imgLarge {
    width: 100%;
}
.imgMedium {
    width: 50%;
}
.imgSmall {
    width: 50%;
}