.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.layout {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.top-ad {
    background: rgb(155, 0, 0);
}

.top-bar {
    background: #1d71ab;
}

.top-bar-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

.top-bar-Item {
    text-decoration: none;    
}

.top-bar-Icon {
    color: #fdd835;
}

.top-bar a{ 
    color: white; 
    margin: 5px;
    margin-left: 20px;  
} 

.mid-bar {
    background: #189eff;
}
.mid-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.mid-bar-Item {
    margin-right: 20px;
}

.mid-bar-Icon {
    margin-left: 20px;
}

.mid-bar-img {
    max-width: 90px;
}

.mid-bar-textLarge{
    font-size: 150%;
    font-weight: bold;
}
.mid-bar .textMedi {
    margin-right: 20px;
}
.mid-bar .textNor{
    margin-right: 20px;
    font-size: 90%;
}
.border { 
    margin: 5px;
    border-radius: 5px;
    border: 2px solid white;
}
.mid-bar input {
    width: 30%;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid #e1e1e1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid white;
/*     box-sizing: border-box;
 */}
.mid-bar button {
    border: 1px solid #e1e1e1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid white;
    padding: 10px;
    margin-left: 0;
    margin-right: 30px;
}
.mid-bar a {
    text-decoration: none;
    color: white; 
    margin: 5px;
    padding: 5px;  
}


.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    flex-direction: row;
}
.menu {
    border: 1px solid #e1e1e1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid white;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    justify-content: flex-start;
    flex-direction: column;
    list-style-type: none;
}

.menu li {
    text-decoration: none;
    padding: 8px;
    color: #444;
    font-size: 90%;
}
.menu li:hover {
    background-color: #189eff;
    color: white;
}
.menu-Icon {
    margin-right: 5px;
    padding-right: 5px;
}

.body-child{
    flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
}
.left {
    flex: 25;
}
.mid {
    flex: 50;
}
.right {
    flex: 35;
}

.imgLarge {
    width: 100%;
}
.imgMedium {
    width: 50%;
}

.icon {
    color:  white;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.product-item {
    border: 1px solid #444;
    margin: 10px;
    padding: 10px;
}

.product-item a {
    text-decoration: none;
    color: #444;
    position: relative;

}

.product-button {
    background-color: rgba(211, 56, 9, 0.712);
    color: white;
    margin: 16px;
    padding: 16px;
    position: absolute;
    top: 80px;
    left: 80px;
    opacity: 0;
    
}

.product-button:hover{
    opacity: 1;
    transition: background-color 2s ease-out;
}